extends layout

block content
    button#cbtn(type='button') Click Me!
    br
    br
    
    // Create a div where the graph will take place
    #my_dataviz
   
    script(src='/javascripts/d3_groupBar.js')