doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src='https://d3js.org/d3.v4.js')
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='/javascripts/d3_table.js')
    script(src='/javascripts/d3_lineChart.js')
    
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') CovidD3
        ul.nav.navbar-nav
          li#navHome
            a(href='http://localhost:3000/') Home
          li#navLine
            a(href='http://localhost:3000/line') Line Chart
          li#navTable
            a(href='http://localhost:3000/table') Table
          li#navHist
            a(href='http://localhost:3000/hist') Histogram
          li#navScatter
            a(href='http://localhost:3000/scatter') Scatter
     
    block content
