doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src='https://d3js.org/d3.v4.js')
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='/javascripts/d3_table.js')
    script(src='/javascripts/d3_lineChart.js')
    
  body
    block content
