doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src='https://d3js.org/d3.v4.js')
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    script(src='/javascripts/d3_table.js')
    script(src='/javascripts/d3_lineChart.js')
    
    style.
      .header {
      margin-top: 60px;
      margin-left: 60px;
      text-align: left;
      }
      input {
      margin-right: 10px;
      }
      .form-check-label {
      font-size: 1em;
      margin-right: 20px;
      }
  body
    block content
