extends layout

block content
    .form-check-inline
      label.form-check-label
        | X Axis 
        input#Xlim(style='display: inline', type='number')
    br
    br
    
    // Create a div where the graph will take place
    #my_dataviz
   
    script(src='/javascripts/d3_scatter.js')